/* .products {
  display: flex;
  justify-content: space-around;
}
.price {
  width: 5%;
}
.image {
  width: 5%;
}
.name {
  width: 20%;
}
.stock {
  width: 5%;
}
.category {
  width: 15%;
}
.sale {
  width: 5%;
}
.products-head {
  display: flex;
  justify-content: space-around;
} */
