.sidemenu {
  width: 30%;
}
.sidemenu button {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: none;
  border: none;
  padding: 10px;
  margin-left: 20px;
  background-color: white;
}
.sidemenu button:hover {
  background-color: #003585;
  color: white;
}
